
.access-control{
    display: flex;
    gap: 20px;
}
.access-emp{
    /* background-color: lightblue; */
}

.checkbox{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1vh;
}

.checkbox input[type="checkbox"]{
    background-color: red;
    width: 2vw;
}